@font-face {
    font-family: AvenirLight;
    src: url('../asset/fonts/avenir/Avenir\ Next\ LT\ W04\ Light.ttf');
    font-weight: 400;
}
@font-face {
    font-family: AvenirRegular;
    src: url('../asset/fonts/avenir/AvenirNextLTPro-Regular.otf');
    font-weight: 500;
}
@font-face {
    font-family: AvenirMedium;
    src: url('../asset/fonts/avenir/AvenirNextLTPro-Demi.otf');
    font-weight: 600;
}
@font-face {
    font-family: AvenirBold;
    src: url('../asset/fonts/avenir/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
}

body,
* {
    margin: 0;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home h1 {
    margin-bottom: 0;
    font-family: AvenirBold;
    font-size: 42px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    max-width: 400px;
}

#home p {
    max-width: 395px;
    margin: 24px 0;
    font-family: AvenirLight;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: 0.7px;
    text-align: left;
    color: #fff;
}

.container {
    margin: auto;
    padding: 0 2em;
}

.btn-kastil {
    padding: 12px 20px;
}

.btn-kastil-outline-black {
    color: #fff !important;
    display: inline-block;
    border: solid 1px #fff;
    transition: all 0.1s ease-in;
}

.btn-kastil-outline-black:hover {
    background-color: #fff;
    color: #000 !important;
}

.btn-kastil-outline-black:active {
    background-color: #fff;
    color: #000 !important;
}

#home .btn-kastil {
    font-family: AvenirMedium;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

#home .btn-kastil .icon {
    font-size: 10px;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

nav ul {
    padding: 0;
    margin-bottom: 0;
}

nav ul{
    margin: auto 0;
}

nav li {
    display: inline;
    font-family: AvenirLight;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 1.2px;
    text-align: left;
    cursor: pointer;
}

nav li a {
    color: #fff;
    transition: 0.25s all;
}

nav li a:hover {
    color: #64cae2;
}

nav .burger {
    display: none;
}

nav li:not(:last-child) {
    margin: 18px;
}

nav .burger {
    margin: 0 !important;
}

nav .clear {
    display: none;
}

nav li:last-child {
    margin-left: 18px;
}

nav .icon {
    font-size: 24px;
}

.logo-container {
    height: 48px;
}

.logo-kastil {
    height: 100%;
}

.banners .carousel-item {
    z-index: -1;
    position: fixed;
    height: 100vh;
}

.banners img {
    object-fit: cover;
    object-position: bottom;
    height: 100vh;
    width: 100vw;
}

.carousel-control-prev,
.carousel-control-next {
    width: 88px;
    margin-top: 15vh;
    height: 90vh;
    z-index: 1;
}

.carousel-item .black-layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#our-goals {
    background-color: #000;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

#our-goals .label {
    text-transform: uppercase;
    color: #fff;
    font-family: AvenirBold;
}




/* .label {
    position: relative;
    font-family: Muli;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: left;
    color: #64cae2;
    padding: 0.5em 0;
}

.label::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 40px;
    border-bottom: 3px solid #64cae2;
} */

#our-goals .description {
    max-width: 845px;
    font-family: AvenirLight;
    font-size: 32px;
    letter-spacing: 0.88px;
    text-align: left;
    color: #fff;
    line-height: 1.2em;
    font-weight: 300;
}

#our-goals .caption {
    font-family: AvenirLight;
    color: #fff;
    font-weight: 300;
}

#value {
    background-color: #000;
    color: #fff;
    padding-bottom: 12rem;
}

#value .left {
    text-transform: uppercase;
    font-family: AvenirBold;
    font-size: 50px;
}

#value .right{
    font-family: AvenirLight;
}

.value-item{
    margin-bottom: 5rem;
}

.value-item .label {
    font-family: AvenirBold;
    text-transform: uppercase;
    font-size: 32px;
}

#our-services {
    background-color: #000;
    color: #fff;
}

#our-services .label {
    text-transform: uppercase;
    font-family: AvenirBold;
    font-size: 50px;
    margin-bottom: 2rem;
}

.service-item {
    width: 50vw;
    height: 25vw;
    overflow: hidden;
    position: relative;
}

.service-name {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: AvenirMedium;
    font-size: 18px;
    letter-spacing: 2px;
    z-index: 1;
    opacity: 0;
    transition: all 0.25s;
}
.service-name:hover {
    opacity: 1;
}

@media (max-width: 767.98px) {
    .services-container {
        display: flex;
        flex-direction: column;
    }
    .service-item {
        width: 100%; 
        height: 50vw;
    }
}


.service-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s all;
}

.service-item:hover img {
    transform: scale(1.15);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-filter: brightness(60%); /* Safari 6.0 - 9.0 */
    filter: brightness(60%);
}

#clients {
    background-color: #000;
    color: #fff;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

#clients .label {
    text-transform: uppercase;
    font-family: AvenirBold;
    font-size: 50px;
    margin-bottom: 2rem;
}

#lets-talk {
    background-color: #000;
    padding-bottom: 12rem;
}

.border-white{
    padding: 4rem 2rem;
    border: solid 2px #fff;
    color: #fff;
    font-family: AvenirLight;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

#team {
    background-color: #000;
    padding-bottom: 12rem;
    color: #fff;
}

#team .label {
    text-transform: uppercase;
    font-family: AvenirBold;
    font-size: 50px;
    margin-bottom: 2rem;
}

#team .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#team .team-item {
    margin: 0.5rem;
}

#team .team-img-container {
    width: 195px;
    height: 280px;
    position: relative;
}

#team .team-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgHover {
    opacity: 0;
    transition: ease-in 0.25s;
}

.imgHover.show {
    opacity: 1;
}

#team .team-name {
    font-family: AvenirLight;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.36px;
    text-align: center;
    color: #fff;
    margin-top: 1em;
    text-transform: uppercase;
}

#team .team-position {
    font-family: AvenirMedium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.28px;
    text-align: center;
    color: #fff;
    margin-top: 0.25em;
    text-transform: uppercase;
}

#contact {
    background-color: #000;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#contact .head {
    font-family: AvenirBold;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 1.08px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2em;
}

#contact .caption {
    margin: auto;
    max-width: 494px;
    font-family: AvenirLight;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
}

#contact label {
    font-family: AvenirLight;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.29;
    letter-spacing: 1.12px;
    color: #ffffff;
}

#contact .input-email {
    display: block;
    max-width: 280px;
    margin: auto;
    position: relative;
}

#contact input {
    border: solid 1px #fff;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#contact button {
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #ffffff;
    font-family: AvenirLight;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.24px;
    text-align: center;
    color: #58595b;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: AvenirLight;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: 0.24px;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .footer-container {
        flex-direction: column-reverse;
    }
}

.color-blue {
    color: #64cae2;
}

.color-red {
    color: #f0464e;
}

.color-white {
    color: #fff;
}

.to-top {
    border: none;
    outline: none;
    background-color: #fff;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99999999;
    width: 3em;
    height: 3em;
    border-radius: 4px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

strong{
    font-family: AvenirBold;   
}
.font-medium {
    font-family: AvenirMedium;
}

a.color-white {
    transition: all 0.25s;
}

a.color-white:hover{
    color: #64cae2;
}