html,body {
    overflow-x: hidden;
}
body{
    position: relative;
}

body,
* {
    margin: 0;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home h1 {
    margin-bottom: 0;
    font-family: Muli;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

#home p {
    max-width: 627px;
    margin: 24px 0;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

.container {
    margin: auto;
    padding: 2em;
}

.btn-kastil {
    padding: 12px 20px;
}

.btn-kastil-outline-black {
    color: black;
    display: inline-block;
    border: solid 2px black;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.btn-kastil-outline-black:hover {
    transform: translate(-3px, -3px);
    box-shadow: rgba(0, 0, 0, 1) 3px 3px;
}

.btn-kastil-outline-black:active {
    transform: translate(0px, 0px);
    box-shadow: rgba(0, 0, 0, 1) 0px 0px;
}

#home .btn-kastil {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 0.45px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

#home .btn-kastil .icon {
    font-size: 10px;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

nav ul {
    padding: 0;
    margin-bottom: 0;
}

nav li {
    display: inline;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
}

nav .burger {
    display: none;
}

nav li:not(:last-child) {
    margin: 24px;
}

nav .burger {
    margin: 0 !important;
}

nav .clear {
    display: none;
}

nav li:last-child {
    margin-left: 24px;
}

nav .icon {
    font-size: 24px;
}

.logo-container {
    height: 48px;
}

.logo-kastil {
    height: 100%;
}

.banners .carousel-item {
    z-index: -1;
    position: fixed;
    height: 100vh;
}

.banners img {
    object-fit: cover;
    object-position: bottom;
    height: 100vh;
    width: 100vw;
}

.carousel-control-prev,
.carousel-control-next {
    width: 88px;
    margin-top: 15vh;
    height: 90vh;
    z-index: 1;
}

#our-goals {
    background-color: #fff;
    padding-top: 4em;
    padding-bottom: 4em;
}

.label {
    position: relative;
    font-family: Muli;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: left;
    color: #64cae2;
    padding: 0.5em 0;
}

.label::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 40px;
    border-bottom: 3px solid #64cae2;
}

#our-goals .description {
    max-width: 845px;
    font-family: Muli;
    font-size: 38px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.88px;
    text-align: left;
    color: #212121;
}

#value {
    background-color: #fff;
}

#value .background {
    background: url(../asset/img/Polygon-Value.png) no-repeat top left;
    padding-top: 4em;
}

.values-container {
    display: flex;
    padding: 3em 0em 8em 0em;
    white-space: normal;
}

.values-container::-webkit-scrollbar {
    display: none;
}

.values {
    display: flex;
    min-height: min-content;
}

.card-value {
    width: 450px;
    box-shadow: 10px 20px 90px 0 rgba(0, 0, 0, 0.05);
    padding: 40px 32px;
    background-color: #ffffff;
}

.card-value .head {
    font-family: Muli;
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.48px;
    text-align: left;
    color: #64cae2;
    margin-bottom: 1em;
}

.card-value .body {
    font-family: Muli;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.64px;
    text-align: left;
    color: #333333;
}

#about-us {
    background-color: #514e5c;
}

#about-us .label {
    color: white;
}

#about-us .label::before {
    border-color: white;
}

#about-us .description {
    margin-top: 3em;
    max-width: 674px;
    font-family: Muli;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: 0.72px;
    text-align: left;
    color: #ffffff;
}

#our-services {
    background-color: #fff;
    padding-top: 4em;
    padding-bottom: 4em;
}

#our-services .head,
#team .head {
    font-family: Muli;
    font-size: 32px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 1.08px;
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

#our-services .caption,
#team .caption {
    margin: auto;
    max-width: 494px;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.8px;
    text-align: center;
    color: #58595b;
    margin-bottom: 2em;
}

.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

@media (max-width: 991.98px) {
    .service-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
    }
}

.service-item {
    position: relative;
}

.service-item::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}

.service-item div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.service-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.service-item p {
    margin-bottom: 0;
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

#lets-talk {
    background-color: #514e5c;
    padding-top: 4em;
    padding-bottom: 4em;
}

#lets-talk p {
    font-family: Muli;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.72px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}

#lets-talk a {
    color: #64cae2;
}

#lets-talk::hover a {
    color: #64cae2;
}

#team {
    background-color: #fff;
    padding-top: 4em;
    padding-bottom: 4em;
}

#contact {
    background-color: rgb(88, 89, 91);
}

.color-blue {
    color: #64cae2;
}

.color-white {
    color: #fff;
}